<ion-view hide-nav-bar="true" hide-back-button="true" view-title="Opciones">
    <ion-content >
 <div ng-controller="inicioCtrl"   >
   <div  class="item item-image">
        <img ng-src="img/mco0zJfaSRKheTs390Ur_icon.fw.png" width="60%" height="auto" style="width: 60%;"  align="center">
    
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Usuario</span>
                    <input type="text" placeholder="Usuario" ng-model="usuario">
                </label>
                <label class="item item-input">
                    <span class="input-label">Contraseña</span>
                    <input type="password" placeholder="Contraseña" ng-model="password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-stable button-block " ng-click="entrar(usuario,password)">Entrar</button>
            <!--<a href="#" onclick="window.open('/#pag', '_system', 'location=yes'); return false;" class="button button-positive button-clear button-block ">No tienes Cuenta?</a> -->
        </form>
        </div>
    </ion-content>
</ion-view>